python-dotenv>=1.0.1
opentelemetry-api>=1.0.0
opentelemetry-sdk>=1.0.0
opentelemetry-exporter-otlp-proto-http>=1.0.0
-e ../../../python
-e ../../../python-frameworks/strands
openai>=1.0.0
strands-agents>=1.0.0
strands-agents-tools>=0.2.0
